.barra-error{
  width: 98%;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  text-align: center;
  color: rgb(235, 40, 40);
  background-color: rgb(250, 192, 192);;
}

.container-parceiro{
  width: 100%;
  min-height: 300px;
  padding-top: 15px;
  justify-content: center;
  table{
    margin: auto !important;
  }
}
